.form {
    
    &__label {
        display: block;
        font-size: 1.6rem;
    }

    &__input {
        display: block;
        font-size: 1.6rem;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 5px;
        margin-bottom: 30px;
        padding: 5px 10px;
        width: 80%;
        background-color: whitesmoke;
        //outline: 1px solid black;
    }

    &__submit {
        font-size: 1.6rem;
        padding: 5px 10px;
        background-color: #bbdefb;
        border: 1px solid darken(#bbdefb, 10);
        border-radius: 5px;
    }
}