$navigationBar-height: 30px;
$navigationBar-height-desktop: 55px;

$colour-project-soft: #f3fcf5;
$colour-project-light: #c9eecb;
$colour-project-dark: #6aa16d;

$colour-aid-soft: #fdfdf2;
$colour-aid-light: #fff59d;
$colour-aid-dark: #cbc26d;

$colour-guest-soft: #fff9ff;
$colour-guest-light: #f8bbd0;
$colour-guest-dark: #c48b9f;

$colour-card-hover: #ef5350;

$colour-header: #ef5350;